.exposition {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 30px;
  }

  &__items-container {
    margin-bottom: 30px;
  }
}