.header {
  position: relative;
  background-image: url("https://via.placeholder.com/1460x550");
  background-position: center;
  height: 40vh;


  &__toolbar {
    display: flex;
    justify-content: end;
    align-items: flex-start;

    @media (max-width: 575px) {
      padding: 15px 0;
    }
  }

  &__navbar {
    align-items: flex-start;
    padding-right: 30px;

    @media (max-width: 575px) {
      padding-right: 15px;
    }
  }

  &__user-menu {
    position: absolute;
    right: 20px;
    top: 10px;
    justify-content: flex-end;

    @media (max-width: 575px) {
      right: 0;
    }
  }
}

